.header__main-illustration {
  z-index: 1;
  width: 765px;
  height: 608px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
}